<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="./static/icons/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Крестики-нолики</title>
</head>
<body>
    <div class="container">
        <div class="main-box">
            <h1>Крестики нолики</h1>
            <div class="menu">
                <button class="popUp-ctrl-btn" disabled>Играть</button>
                <button class="popUp-ctrl-btn">Коператив</button>
                <!-- <button class="popUp-ctrl-btn" disabled>Таблица рекордов</button> -->
            </div>
        </div>
    </div>
    <script src="../static/js/menuscript.js"></script>
</body>
</html>